body {
    background-color: rgb(187, 130, 61);
    color: rgba(48, 46, 46, 0.857);
    /*text color*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h5 {
    text-align: center;
    font-style: italic;
    font-weight: bolder; /*this bolds text*/
}

a {
    /*a is the key to color links*/
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(52, 50, 50);
}

img {
    border: 5px solid rgb(0, 0, 0);
    padding: 3px;
    margin: 5px;
    /*display: block; blocks out entire horizontal space for each image (centers stuff)
    margin: auto;*/
}

.rizz {
    /*the reason there's a . in front of rizz is cause we're creating this element*/
    font-variant: small-caps;
    color: rgb(61, 64, 64);
    background-color: rgb(182, 203, 182);
    font-size: larger;
    font-style: italic;
    border: rgb(0, 0, 0) 10px;
}

.rizz:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-style: normal;
    border: none;
}
li{
    text-decoration: overline;

}
li:hover{
    text-decoration: underline;
}
.locked{
    text-align: center;
    bottom: 3px;
    
}
.middle{
    text-align: center;

}
.right{
    text-align: right;
    size: 500px;
}
.left{
    text-align: left;
    
}